.select2-container--bootstrap .select2-selection.form-control{
    height: auto !important;
}
.dropzone{
    .dz-preview{
        &.dz-image-preview, &.dz-file-preview{
            .remove{
                color: var(--danger) !important;
            }
        }
    }

    &.dz-clickable{
        position: relative;

        .dz-message{
            width: 80%;
            @include center();
        }
    }
}

form{


    label.has-float-label {
        position: relative;
        span{
            text-transform: capitalize;
        }

        .invalid-tooltip, .valid-tooltip, div.error{
            margin-top: 0;
            top: 28px;
            transform: translateX(-50%);
        }
        .error-msg{
            width: max-content !important;
            max-width: 75%;
            @include respond-below(md){
                max-width: 100%;
            }
        }
    }


}

