.modal{
    .modal-content{

        .form-footer{
            height: 100px;

            .modal-footer{
                position: absolute;
                width: 100%;
                left: 0;
            }
        }

        .modal-header{
            .title-wrapper{
                display: flex;
                margin-bottom: 0.5rem;
            }

            display: block;

            .nav-tabs.separator-tabs{
                border: none;

                .nav-item{
                    text-transform: capitalize;
                    .nav-link{

                        &.active{
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .modal-body{
            margin-top: 0.5rem;

            &.fixed-height{
                max-height: 70vh;
                // overflow: hidden;
            }

        }

        .hover-box{
            transition: 140ms ease-in;
            &:hover{
                // border: 1px solid white;
                padding: 26px 20px;
                // box-shadow: 3px 3px 6px rgb(0 0 0 / 16%);
                background: var(--theme-color-1);
                background: #0055b1;
                color: #fff;
                border-radius: 4px;

                .border-bottom{
                    border-bottom: 1px solid #ffffff42 !important;
                }

                p, span{
                    color: #fff;
                }

                span{
                    background: #0055b1;
                }
            }
        }
    }
}

