@mixin vertical-middle($position: absolute) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin horizontal-middle($position: absolute){
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin relative-reset{
    position: relative;
    right: initial;
    top: initial;
    transform: initial;
}

@mixin mobile($width: 922px) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin square($size){
    width: $size;
    min-width: $size;
    height: $size;
    min-height: $size;
}

@mixin max-line($row){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row; /* number of lines to show */
    line-clamp: $row;
    -webkit-box-orient: vertical;
}

@mixin text-divider(){

    &:before{
        height: 2px;
        width: 50%;
        border-radius: 50px;
        display: block;
        content: "";
        background: var(--light-grey);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -60%;
    }

    &:after{
        height: 2px;
        width: 50%;
        border-radius: 50px;
        display: block;
        content: "";
        background: var(--light-grey);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -60%;
    }


}
