/node_modules
/public/hot
/public/storage
/public/backendAssets
/storage/*.key
/vendor
.env
.env.*
!.env.example

docker-compose.override.ymgil
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#.phpunit.result.cache
.phpunit.*
phpunit.xml.bak

# IDE
/.idea
/.vscode
/.vagrant
