container_commands:
  00-entersudoi:
    command: "sudo -i"
  01-removeoldnode:
    command: " yum remove -y nodejs npm"
  02-get-noderpm:
    command: " curl --silent --location https://rpm.nodesource.com/setup_16.x | bash -"
  03-ensurecggmake:
    command: " yum install -y gcc-c++ make"
  04-installnodenpm:
    command: " yum install -y nodejs"
  05-exitsudoi:
    command: "exit"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99npminstall.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current/
      sudo npm install --omit=dev
      sudo npm run build:admin
