ul li.queue-list:last-of-type{
    margin-bottom: 60px !important;
}

.queue-list{

    .footer{
        gap: 6px;
        display: flex;
        flex-wrap: wrap;

        .show-when-first{
            display: none;
        }

    }
    &:first-child{
        .show-when-first{
            display: block;
        }
    }
    &:last-child{
        margin-bottom: 50px;
    }
}

li.queue-list{
    list-style: none;
}

.sortable-listing{
    height: 70vh;
}
