.alert {
    border-radius: 4px;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 16%);
    font-weight: 600;

    &.alert-success {
        color: #fff;
        background-color: var(--success);
    }
    &.alert-info {
        color: #fff;
        background-color: var(--info);
    }
    &.alert-danger {
        color: #fff;
        background-color: var(--danger);
    }
    &.alert-primary {
        color: #fff;
        background-color: var(--theme-color-1);
    }
    &.alert-warning {
        color: #000;
        background-color: var(--warning);
    }
    ul {
        margin-bottom: 0;
    }
}

.form-side{
    .app-alert {
        top: 15px;
    }
}
.modal-content{
    .app-alert {
        top: 0;
    }
}

.app-alert {
    width: 100%;
    z-index: 10000;
    padding: 0 30px;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: absolute;
    top: 30px;

    div[data-notify=container]{
        margin: 0 15px !important;

        //&:first-child{
        //    margin-top: -20px !important;
        //}
    }

    @include mobile() {
        top: -40px;
    }

    .alert {
        border-radius: 6px;

        ul {
            margin-left: -10px;

            li {
                font-size: 14px;
            }
        }
    }
}

.app-row{

    .app-alert {
        position: fixed;
        left: 120px;
        top: 77px;
        transform: initial;
    }
}

