.alert {
    ul {
        margin-bottom: 0;
    }
}

.form-side{
    .app-alert {
        top: 15px;
    }
}
.modal-content{
    .app-alert {
        top: 0;
    }
}

.app-alert {
    width: 100%;
    z-index: 10000;
    padding: 0 30px;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: absolute;
    top: 30px;

    div[data-notify=container]{
        margin: 0 15px !important;

        //&:first-child{
        //    margin-top: -20px !important;
        //}
    }

    @include mobile() {
        top: -40px;
    }

    .alert {
        border-radius: 6px;

        ul {
            margin-left: -10px;

            li {
                font-size: 14px;
            }
        }
    }
}

.app-row{

    .app-alert {
        position: fixed;
        left: 120px;
        top: 77px;
        transform: initial;
    }
}

