.auth-card {
    overflow: hidden;

    .form-side {
        position: relative;
    }
}
.hide{
    display: none !important;
}

// PerfectScrollbar
.ps__rail-y{
    z-index: 9;
}

.iti__country-list{
    z-index: 9;
}

.datepicker-dropdown{
    transform: initial !important;
}
